html,
body {
    width: 100%;
}

body>* {
    width: 1620px;
    margin: auto;
}

header {
    margin-top: 0;
}

.logo-link {
    color: orange;
    font-size: 20pt;
}

.header {
    display: flex;
    justify-content: space-between;
}

.search-car {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.search-form {
    width: 580px;
    font-size: 24px;
    background-color: #B1B3C2;
    border-radius: 20px;
}

.search-form form {
    width: auto;
    margin-left: 70px;
}

.search-form input {
    height: 29px;
    margin-top: 16px;
}

.search-form div {
    margin-top: 35px;
}

.search-form .address-form {
    margin-top: 50px;
}

.submit-search input {
    background-color: #FCD57E;
    color: white;
    border-radius: 10%;
}

.filters-box {
    width: 850px;
}

.filters-logo {
    width: 269px;
    margin-right: 43px;
    background-color: #B1B3C2;
    display: flex;
    justify-content: space-around;
    font-size: 26px;
}

.filters-buttons {
    display: flex;
    justify-content: center;
}

.filters-buttons button {
    width: 269px;
    font-size: 26px;
    background-color: #B1B3C2;
}

.filters-buttons button:nth-of-type(1) {
    width: 225px;
    margin-right: 43px;
    background-color: #FCD57E;
    color: white;
}

form .filters-form {
    display: flex;
}

.filters>div {
    margin-top: 40px;
    font-size: 24px;
    text-align: center;
    width: 225px;
    background-color: #B1B3C2;
    border-radius: 10%;
}

.filters input {
    width: 100px;
}

.car-filter>* {
    margin: 0;
}

.car-filter img {
    margin-top: 20px;
}

.car-filter select {
    margin-top: 5px;
    margin-bottom: 15px;
}


.filters {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cars-list {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.car-card {
    margin-top: 100px;
    width: 450px;
    border-radius: 20px;
    background-color: #B1B3C2;
}

.car-card img {
    border-radius: 10px;
}

.car-info {
    margin: auto;
    width: 350px;
}

.mark,
.rating {
    text-align: center;
}

.rating {
    display: flex;
    justify-content: space-around;
}

.price {
    text-align: right;
}

.map {
    margin-top: 100px;
}