html,
body {
    width: 100%;
}

body>* {
    width: 1620px;
    margin: auto;
}

header {
    margin-top: 0;
}

.logo-link {
    color: orange;
    font-size: 20pt;
}

.user-info {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.user-info img {
    margin-right: 300px;
}

.user-creds {
    width: 500px;
}

.user-reviews {
    margin-top: 80px;
    text-align: center;
}

.orders-history {
    margin-top: 80px;
    text-align: center;
}

.reviews-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.review {
    width: 430px;
}

.cars-list {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.car-card {
    margin-top: 100px;
    width: 450px;
    border-radius: 20px;
    background-color: #B1B3C2;
}

.car-card img {
    border-radius: 10px;
}

.car-info {
    margin: auto;
    width: 350px;
}

.mark,
.rating {
    text-align: center;
}

.rating {
    display: flex;
    justify-content: space-around;
}

.price {
    text-align: right;
}

.map {
    margin-top: 100px;
}