/*.main-container {
    background-image: url('background-img.png');
    background-repeat: no-repeat;
    background-position-y: 15%;
    background-size: contain;
}

.main-container > div > div {
    width: 95%;
    margin: auto;
    background-color: #282828;
    border-radius: 10px;
    margin-top: 39px;
    width: 1765px;
    margin-right: auto;
    margin-left: auto;
    color: white;
}

.main-content {
    width: 1650px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.top-container-1 {
    display: flex;
    justify-content: space-between;
    height: 622px;
}

.user-info-1 {
    width: 500px;
    background-color: rgba(40, 40, 40, 0.5);
}

.orders-history-1 {
    background-color: rgba(40, 40, 40, 0.5);
    width: 1205px;
    text-align: center;
    font-size: 36px;
}

.cars-list-1 {
    padding: 35px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.car-card-1 {
    margin-bottom: 38px;
    width: 415px;
    height: 470px;
    border-radius: 10px;
    background-color: rgba(40, 40, 40, 0.5);
}

.car-card-img-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.car-card-img-1 {
    flex-shrink: 0;
    min-width: 100%;
    height: 235px;
    border-radius: 10px 10px 0 0;
}

.car-info-1 {
    text-align: left;
    margin: auto;
    width: 350px;
    font-size: 26px;
}

.car-card-1 a {
    text-decoration: none;
    color: white;
}

.car-card-1:hover {
    outline: 5px solid white;
}

.mark-1, .price-1 {
    padding: 0 !important;
    font-size: 36px;
    background-color: transparent !important;
}

.mark-1 {
    margin-bottom: 0;
}

.price-1 {
    font-weight: 700;
}

.avatar-1 {
    display: flex;
    margin: auto;
    align-items: center;
    text-decoration: none;
}
*/
.user-profile {
    margin-top: 35px;
}

.user-profile .cars-list {
    width: 100%;
}

.user-profile .orders-history {
    text-align: center;
}

.user-profile .cars-list .car-info {
    margin-top: 45px;
}

.user-profile .cars-list .avatar {
    display: none;
}

.user-profile .user-creds p {
    margin-bottom: 0;
}

.user-profile .avatar {
    border-radius: 50%;
}

.user-reviews.user-profile {
    width: 90%;
    margin: auto;
}

.user-reviews.user-profile > p {
    margin-left: 75px;
    font-size: 36px;
}

.user-profile .reviews-list {
    padding: 35px;
    background-color: transparent;
}
/*
.avatar-1 p {
    color: white;
    margin-bottom: 0;
}

.score-1 {
    margin: auto 0;
    font-size: 70px;
}

.user-reviews-1 {
    background-color: rgba(40, 40, 40, 0.5);
}*/