html,
body {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    word-wrap: break-word;
}

.header {
    background-color: #282828;
}

.header {
    margin-top: 0;
}

.logo-link {
    display: flex;
    align-self: center;
}

.header {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.header a {
    color: #FFE482;
}

.user-buttons {
    text-align: center;
    font-size: 23pt;
    display: flex;
    align-items: center;
}

.user-buttons a { 
    text-decoration: none;
}

.profile-link {
    width: 70%;
    align-items: center;
}

.profile-link img {
    margin-right: 30px;
    border-radius: 50%;
}

.profile-link p {
    color: white;
}

.header .logo {
    margin: auto;
}

.header .profile-link, .logo-link {
    display: flex;
    justify-content: center;
}
