@page
@model Ion.RazorPages.wwwroot.RazorPages.Index

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/Index.css">
</head>

<body>
    <header>
        <div class="header">
            <a href="#" class="logo-link">
                <p class="logo">ION</p>
            </a>
            <a href="#" class="profile-link"><img src="../static/UserLogo.png" alt="Фото профиля" width="50px"></a>
        </div>
    </header>
    <div class="search-car">
        <div class="search-form">
            <form class="search-form">
                <div class="address-form">
                    <br/><label for="address">Адрес </label>
                    <select name="address-menu" class="address-list">
                        <option selected disabled></option>
                        <option value="">Екатеринбург</option>
                    </select>
                </div>
                <div class="date-form">
                    <br/><label for="date">С какой даты</label>
                    <input type="date" value="2017-06-01" name="date" class="date-start" required />
                    <input type="time" value="13:30" name="time" class="time-start" required />
                </div>
                <div class="email-form">
                    <br/><label for="email">По какую дату</label>
                    <input type="date" value="2017-06-01" name="date" class="date-start" required />
                    <input type="time" value="13:30" name="time" class="time-start" required />
                </div>
                <div class="submit-search">
                    <input type="submit" value="Поиск автомобилей" />
                </div>
            </form>
        </div>
        <div class="filters-box">
            <div class="filters-buttons">
                <form class="filters-form">
                    <div class="filters-buttons">
                        <div class="filters-logo">
                            <div><img src="../static/Filters.jpg" alt="Фильтры"></div>
                            <P>Фильтры</P>
                        </div>
                        <button type="submit">Применить</button>
                        <button type="reset">Сбросить фильтры</button>
                    </div>
                    <div class="filters">
                        <div class="car-filter">
                            <img src="../static/CarBodyTypeWhite.png" alt="Тип кузова" width="161" height="100">
                            <p>Тип кузова</p>
                            <select class="body-type">
                                <option selected disabled></option>
                                <option value="">Седан</option>
                            </select>
                        </div>
                        <div class="car-filter">
                            <img src="../static/GroupPassengers.png" alt="Пассажиры" height="100">
                            <p>Пассажиры</p>
                            <input type="number" value="5">
                        </div>
                        <div class="car-filter">
                            <img src="../static/TransmissionWhite.png" alt="Тип КПП" width="99" height="100">
                            <p>Тип КПП</p>
                            <select class="body-type">
                                <option selected disabled></option>
                                <option value="">Механическая</option>
                            </select>
                        </div>
                        <div class="car-filter">
                            <img src="../static/CarMarkWhite.png" alt="Марка авто" width="161" height="100">
                            <p>Марка авто</p>
                            <select class="mark-type">
                                <option selected disabled></option>
                                <option value="">Lada</option>
                            </select>
                        </div>
                        <div class="car-filter">
                            <button>
                                <img src="../static/MoneyWhite.png" alt="Цена" width="107" height="100">
                                <p>Цена</p>
                                <input type="number" value="5000">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="map">
        <img src="../static/Map-example.png" alt="Карта автомобилей" width="1620">
    </div>
    <div class="cars-list">
        <div class="car-card">
            <img src="../static/Car.png" width="450px">
            <div class="car-info">
                <p class="mark">Марка машины</p>
                <div class="rating">
                    <p class="score">X,X</p>
                    <p class="reviews-count">xxx оценок</p>
                </div>
                <p class="price">xxx р/день</p>
            </div>
        </div>
        <div class="car-card">
            <img src="../static/Car.png" width="450px">
            <div class="car-info">
                <p class="mark">Марка машины</p>
                <div class="rating">
                    <p class="score">X,X</p>
                    <p class="reviews-count">xxx оценок</p>
                </div>
                <p class="price">xxx р/день</p>
            </div>
        </div>
        <div class="car-card">
            <img src="../static/Car.png" width="450px">
            <div class="car-info">
                <p class="mark">Марка машины</p>
                <div class="rating">
                    <p class="score">X,X</p>
                    <p class="reviews-count">xxx оценок</p>
                </div>
                <p class="price">xxx р/день</p>
            </div>
        </div>
        <div class="car-card">
            <img src="../static/Car.png" width="450px">
            <div class="car-info">
                <p class="mark">Марка машины</p>
                <div class="rating">
                    <p class="score">X,X</p>
                    <p class="reviews-count">xxx оценок</p>
                </div>
                <p class="price">xxx р/день</p>
            </div>
        </div>
    </div>
</body>

</html>