@page
@model Ion.RazorPages.wwwroot.RazorPages.Login

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/Login.css">
</head>

<body>
<header>
    <a href="#" id="logo-link">
        <p>ION</p>
    </a>
    <a href="#" id="login-link">Регистрация</a>
</header>
<div id="registration-form">
    <img src="#">
    <form>
        <p>Авторизация</p>
        <input type="text" value="Логин/email">
        <input type="text" value="Пароль">
        <input type="submit" value="Продолжить">
    </form>
</div>
</body>