@page
@model Ion.RazorPages.wwwroot.RazorPages.Registration

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/Registration.css">
</head>

<body>
<header>
    <a href="#" class="logo-link">
        <p>ION</p>
    </a>
    <a href="#" class="login-link">Вход</a>
</header>
<div class="registration-form">
    <img src="#">
    <form>
        <p>Регистрация</p>
        <input type="text" value="Имя" asp-for="UserToPost.FirstName">
        <input type="text" value="Фамилия" asp-for="UserToPost.LastName">
        <input type="email" value="Email" asp-for="UserToPost.Email">
        <input type="text" value="Пароль" asp-for="UserToPost.Password">
        <input type="text" value="Повторите пароль" asp-for="RepeatedPassword">
        <div>
            <input type="radio" class="user-choice-1" name="user-type" value="Арендатор" />
            <label htmlfor="user-choice-1">Арендатор</label>
          
            <input type="radio" class="user-choice-2" name="user-type" value="Собственник" />
            <label htmlfor="user-choice-2">Собственник</label>
        </div>
        <input type="submit" value="Продолжить">
    </form>
</div>
</body>