@page
@model Ion.RazorPages.wwwroot.RazorPages.UserProfile

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/UserProfile.css">
</head>

<body>
    <header>
        <div class="header">
            <a href="#" class="logo-link">
                <p>ION</p>
            </a>
        </div>
    </header>
    <div class="user-info">
        <img src="../static/UserLogo.png" height="150px">
        <div class="user-creds">
            <p>Иванов Иван Иванович</p>
            <p>8-800-535-35-35</p>
            <div class="rating">
                <p class="score">X,X</p>
                <p class="reviews-count">xxx оценок</p>
            </div>
        </div>
    </div>
    <div class="user-reviews">
        <p>Отзывы</p>
        <div class="reviews-list">
            <div class="review">
                <div class="review-box">
                    <p>Отзыв</p>
                </div>
                <div class="reviewer">
                    <img src="../static/UserLogo.png" height="25px">
                    <p>Иван Иванов</p>
                </div>
            </div>
            <div class="review">
                <div class="review-box">
                    <p>Отзыв</p>
                </div>
                <div class="reviewer">
                    <img src="../static/UserLogo.png" height="25px">
                    <p>Иван Иванов</p>
                </div>
            </div>
            <div class="review">
                <div class="review-box">
                    <p>Отзыв</p>
                </div>
                <div class="reviewer">
                    <img src="../static/UserLogo.png" height="25px">
                    <p>Иван Иванов</p>
                </div>
            </div>
        </div>
    </div>
    <div class="orders-history">
        <p>История заказов</p>
        <div>
            <p>26 Мая 2024</p>
            <div class="cars-list">
                <div class="car-card">
                    <img src="../static/Car.png">
                    <div class="car-info">
                        <p class="mark">Марка машины</p>
                        <div class="rating">
                            <p class="score">X,X</p>
                            <p class="reviews-count">xxx оценок</p>
                        </div>
                        <p class="price">xxx р/день</p>
                    </div>
                </div>
                <div class="car-card">
                    <img src="../static/Car.png">
                    <div class="car-info">
                        <p class="mark">Марка машины</p>
                        <div class="rating">
                            <p class="score">X,X</p>
                            <p class="reviews-count">xxx оценок</p>
                        </div>
                        <p class="price">xxx р/день</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>