.main-container.chats-page {
    background-image: url('../assets/images/background-img.png');
    background-repeat: no-repeat;
    background-position-y: 15%;
    background-size: contain;
}

.main-container.chats-page > div {
    margin-top: 35px !important;
    width: 95%;
    margin: auto;
}

.main-content.chats-page {
    width: 1650px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}


.chats-page .chats-list {
    margin-top: 39px;
    margin-right: auto;
    margin-left: auto;
    width: 1705px;
}

.chats-page .chat {
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 32px;
    display: inherit;
    margin-bottom: 10px;
    padding: 45px;
    height: 238px;
    background-color: rgba(40, 40, 40, 0.5);
}

.chats-page .chat:hover {
    background-color: rgba(40, 40, 40, 0.7);
}

.chats-page .avatar p:nth-child(1) {
    font-size: 36px;
    font-weight: 700;
}

.chats-page .avatar p:nth-child(3) {
    color: #282828;
}

.chats-page .avatar {
    display: flex;
    margin: auto;
    align-items: center;
    text-decoration: none;
}

.chats-page .avatar img {
    margin-right: 30px;
    border-radius: 50%;
}

.chats-page .avatar p {
    color: white;
    margin-bottom: 0;
}