.main-container.index {
    background-image: url('../assets/images/background-img.png');
    background-repeat: no-repeat;
    background-position-y: 15%;
    background-size: contain;
}

.main-container.index > div {
    width: 95%;
    margin: auto;
}

.main-content.index {
    width: 1650px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.map-container.index {
    width: 40%;
}

.map-map.index {
    width: 100%;
    height: 540px;
}

/*

    60.632986 56.842988
    60.601899 56.831345
    60.623672 56.830293
    60.600249 56.842066
    60.623860 56.845178
*/