@model Ion.RazorPages.wwwroot.RazorPages.Registration

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/Registration.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <a asp-controller="AnnouncementMVC" asp-action="Index" class="logo-link">
        <p>ION</p>
    </a>
    <a href="#" class="login-link">Вход</a>
</header>
<div class="registration-form">
    <img src="#">
    <form>
        <p>Регистрация</p>
        <input type="text" value="Имя" asp-for="UserToPost.FirstName">
        <input type="text" value="Фамилия" asp-for="UserToPost.LastName">
        <input type="email" value="Email" asp-for="UserToPost.Email">
        <input type="text" value="Пароль" asp-for="UserToPost.Password">
        <input type="text" value="Повторите пароль" asp-for="RepeatedPassword">
        <div>
            <input type="radio" class="user-choice-1" name="user-type" value="Арендатор" />
            <label htmlfor="user-choice-1">Арендатор</label>
          
            <input type="radio" class="user-choice-2" name="user-type" value="Собственник" />
            <label htmlfor="user-choice-2">Собственник</label>
        </div>
        <input type="submit" value="Продолжить">
    </form>
</div>
</body>